:root {
    --primary-color: #ffffff;
    --spinner-primary-color: #000000;
    --primary-table-color: #000000;
    --danger-color: #dc3545;
    --success-color: #28a745;
    --text-color: #ffffff;
    --text-secondary: #000000;
    --text-color-hover: #0c0e41;
    --toolbar-text-color: #ffffff;
    --text-color-stats-section: #0c0e41;
    --text-color-filter-section: #0c0e41;
    --heading-color: #333333;
    --background-header: #0c0e41;
    --background-stats: #e6e6e6;
    --background-table: #e6e6e6;
    --background-body: #0c0e41;
    --background-pagination: #ffffff;
    --background-footer: #f1f1f1;
    --border-color: #ddd;
    --border-focus-color: #007bff;
    --option-hover-color: #f8f9fa;
    --option-selected-color: #e3f2fd;
    --export-excel-btn: #28a745;
    --import-excel-btn: #17a2b8;
    --template-excel-btn: #6c757d;
    --toggle-filters-btn: #ffc107;
    --background-expense: #f8d7da;
    --background-income: #d4edda;
    --background-edit-btn: #ecaa59;
    --background-delete-btn: #dc3545;
    --background-filter-btn: #0c0e41;
}